.mini-photo{
  width: 100px;
  height: 100px;
}

.price{
  color: gray;
  font-weight: bold;
}

.available{
  color: green;
}

.unavailable{
  color: red;
}

@media (min-width: 320px) {
  .name{
    font-size: 15px;
  }
  .price{
    margin-left: 10px;
  }
}

@media (min-width: 961px) {
  .name{
    font-size: 24px;
  }
  .show-product-button{
    width: 100px;
    float: right;
    margin: -5% 0 0 0;
    background-color: #F7A56A;
    &:hover{
      background-color: #E7A56A;
    }
  }
  .price{
    margin-left: 15px;
  }
}

@media (min-width: 1024px) {
  .price{
    margin-left: 10px;
  }
}

textarea{
  resize: none;
}

.myBtn{
  display: block;
  margin-left: 150px;
  background-color: #F7A56A;
  &:hover{
    background-color: #E7A56A;
  }
}

.delete-btn{
  width: 60px;
  margin-top: 45px;
  margin-right: -100px;
}
